* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { font-family: 'Poppins', sans-serif; }

#welcome-section {
    background: url("./image/bg.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

#welcome-section h1 {
    font-size: 60px;
    position: relative;
    top: 40%;
    text-align: center;
    letter-spacing: 5px;
    animation: text 6s ease-in-out infinite;
    animation-direction: alternate;
}

.text1 {
    margin-bottom: 20px;
    position: relative;
}

@keyframes text {
    0% {
        color: transparent;
        margin-bottom: -60px;
    }

    35% {
        color: #f1f6f949;
        letter-spacing: 30px;
        margin-bottom: -60px;
        text-shadow: 0 0 20px #04b5eb;
    }

    70% {
        letter-spacing: 5px;
        text-shadow: 0 0 40px #04b5eb;
    }

    90% {text-shadow: 2px 2px 1px #04b5eb;}
}

/* 
KETIKA z-index: 1; DIHAPUS MAKA KETIKA SCROLL HALAMAN WEB BAGIAN custom-shape-divider-bottom- 
AKAN BERADA DI ATAS NAVBAR ANDA !!! 

SELAIN ITU, JIKA NILAI z-index: 2; MAKA KETIKA SCROLL KE BAGIAN PROJECT 
TAMPILAN SPAN TETAP BERADA DI ATAS NAV SEHINGGA NILAI z-index: 3; !!!
*/
nav {background-color: black; z-index: 3;}
nav a img {border-radius: 50%;}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.navbar-brand, #navbarNav ul li a {color: whitesmoke;}
#navbarNav ul li a:hover {color: #D44000}
.nav-link.active, a.nav-link:hover {
    color:#be3a1c !important;
    transition: all 0.25s ease-in-out !important;
}
.description {
    margin-top: 3rem;
    font-size: 1.3rem;
    width: 60%;
}

#about {
    background: linear-gradient(180deg,black,#000033,#0066CC,#0099FF,#5FC9F3);
    min-height: 60vh;
    color: whitesmoke;
}

.about-title {padding: 5rem 0 2rem ;}
.image {width: 40%;}
.images {width: 55%;}

.skills {
    width: 13rem;
    border-radius: 20px;
    height: 13rem !important;
}

.projects {
    width: 80%;
    border-radius: 50px;
    height: 20rem !important;
}

.btn-img { 
    height: .75rem !important;
    border-radius: 1rem !important;
    margin: 0 .4rem !important;
    position: relative;
    bottom: -.25rem !important;
}

.btn-img2 {
    bottom: -3.75rem !important;
}

.inner {
    width: 40% !important;
    margin: 0 auto;
}

.btn-control { position: absolute; }
.control-left { left: 12% !important; }
.control-right { right: 12% !important; }
.control-left-2 { left: 8% !important; top: -25% !important; }
.control-right-2 { right: 8% !important; top: -25% !important; }

#projects {
    background: linear-gradient(180deg,#005A8D,#03256C,black); 
    padding: 6rem 0;
}

.custom-shape-divider-bottom-1626251764 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626251764 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1626251764 .shape-fill {
    fill: #005A8D;
}

.project-tile {
    color: red;
    text-shadow: 1px 1px 0.5px #3EDBF0;
    margin: 1.2rem 0 0 !important;
    text-align: center;
}

.tile-2 { margin: .8rem auto !important; }
.btn-project-tile {text-align: center}
.btn-wrapper {
    height: 3.5rem;
}

span.angle.carousel-control-next-icon, span.angle.carousel-control-prev-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

span.angle.carousel-control-next-icon:hover, span.angle.carousel-control-prev-icon:hover {
    box-shadow: 0 0 10px 7px #88FFF7;
    transition: 0.5s ease-in-out;
    left: 5px;
}

span.angle.carousel-control-prev-icon:hover {left: -5px;}
.title {text-shadow: 1.8px 1.8px 0.8px #3EDBF0;}
#projects h1 , footer h3 {color: whitesmoke; text-shadow: 1.8px 1.8px 1px black;}
#projects h1 {margin-bottom: 2rem;}

.project-info {
    position: absolute !important;
    bottom: -35px !important;
}

.project-button {color: whitesmoke; text-shadow: 1px 1px 0.8px black; height: 10rem;}
.project-button:hover {color: black; text-shadow: 1px 1px 0.8px whitesmoke !important;}

.custom-shape-divider-bottom-1626333380 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626333380 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 294px;
}

.custom-shape-divider-bottom-1626333380 .shape-fill {
    fill: #5C3030;
}

.custom-shape-divider-top-1626333572 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1626333572 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 390px;
}

.custom-shape-divider-top-1626333572 .shape-fill {
    fill: linear-gradient(180deg,black,#000033,#0066CC,#0099FF,#5FC9F3);
}

#inner-contact { padding: 3rem 0 0; }
#contact { padding: 3rem 0; }
#contact-title { font-size: 5rem; letter-spacing: .3rem; }
.fa:hover,.fab:hover { transform: scale(1.5);}

footer {background: linear-gradient(180deg,#5C3030,#402A23);}

@media (max-width: 992px) {
    #welcome-section h1 { font-size: 50px; }
    .description { width: 80%; }
    
    @keyframes text {
        0% {
            color: transparent;
            margin-bottom: -60px;
        }
    
        30% {
            color: #f1f6f949;
            letter-spacing: 20px;
            margin-bottom: -60px;
            text-shadow: 0 0 20px #04b5eb;
        }
    
        70% {
            letter-spacing: 5px;
            text-shadow: 0 0 40px #04b5eb;
        }
    
        90% {text-shadow: 2px 2px 1px #04b5eb;}
    }

    .image { width: 60%; }
    .images { width: 80%; }

    #contact-title {font-size: 3.5rem;}

    .custom-shape-divider-bottom-1626251764 svg {
        width: calc(100% + 1.3px);
        height: 236px;
    }
}

#experience {
    padding: 6rem 0 2rem;
    /* background: linear-gradient(180deg, #FFFFFF, #32DED4); */
}

.custom-img {
    border-radius: 20px;
    width: 10%;
}

.custom-mentor {
    width: 20%;
    transform: scale(1.5);
}

.custom-img2 { width: 15%; }
.custom-sertif { 
    width: 90%; 
    border-radius: 30px;
    box-shadow: 5px 10px 10px 5px #393E46;
    margin-bottom: 1.5rem;
}

.text-semibold { font-weight: 600; }
.accordion-item, .accordion-button { border-radius: 20px !important; }
.accordion-item { 
    box-shadow: 5px 10px 10px 5px #393E46; 
    margin: 2rem 0;
}

.accordion-button:focus { background: transparent;}
.accordion-button::after{
    background-position: center center;
    height: 1.75rem !important;
    width: 1.75rem !important;
    border-radius: 50%;
    box-shadow: 0 0 7.5px 5px #000;
}

#aurora { color: #FF7A00 !important; letter-spacing: .5px; font-size: 1.2rem; }
#aurora:hover { color: #D44000 !important; }

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0{
    0%{
      d: path("M 0,500 C 0,500 0,166 0,166 C 28.670119344635445,187.29187821307272 57.34023868927089,208.5837564261454 82,196 C 106.65976131072911,183.4162435738546 127.30916458755192,136.95685250849107 149,143 C 170.69083541244808,149.04314749150893 193.42310296052156,207.5888335398903 216,209 C 238.57689703947844,210.4111664601097 260.9984235703619,154.68781333194772 284,148 C 307.0015764296381,141.31218666805228 330.58320275803084,183.65991313231885 353,182 C 375.41679724196916,180.34008686768115 396.66876539751473,134.67253413877694 419,116 C 441.33123460248527,97.32746586122306 464.74173565190983,105.64995031257345 492,106 C 519.2582643480902,106.35004968742655 550.3642919948463,98.72766461092925 576,108 C 601.6357080051537,117.27233538907075 621.8010963687049,143.4393912437096 648,166 C 674.1989036312951,188.5606087562904 706.4313225303339,207.51477041423243 727,191 C 747.5686774696661,174.48522958576757 756.4736135099597,122.50152709936057 780,131 C 803.5263864900403,139.49847290063943 841.6742234298276,208.47912118832528 869,226 C 896.3257765701724,243.52087881167472 912.8294927707291,209.58198814733828 935,183 C 957.1705072292709,156.41801185266172 985.0078054872558,137.1929262223217 1011,145 C 1036.9921945127442,152.8070737776783 1061.139285280247,187.64630696337497 1087,194 C 1112.860714719753,200.35369303662503 1140.4350533917573,178.22184592417852 1164,174 C 1187.5649466082427,169.77815407582148 1207.120501152725,183.4663093399109 1228,191 C 1248.879498847275,198.5336906600891 1271.0829419973431,199.91291671617782 1295,178 C 1318.9170580026569,156.08708328382218 1344.547730857902,110.88202379537775 1369,105 C 1393.452269142098,99.11797620462225 1416.726134571049,132.55898810231113 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
    25%{
      d: path("M 0,500 C 0,500 0,166 0,166 C 28.29485512750408,141.74970522114518 56.58971025500816,117.49941044229033 79,127 C 101.41028974499184,136.50058955770967 117.93601410747144,179.75206345198387 138,191 C 158.06398589252856,202.24793654801613 181.66623331510613,181.49233574977416 209,181 C 236.33376668489387,180.50766425022584 267.3990526321041,200.27859354891947 295,210 C 322.6009473678959,219.72140645108053 346.73755615647775,219.39329005454798 368,200 C 389.26244384352225,180.60670994545202 407.6507227419851,142.14824623288862 428,125 C 448.3492772580149,107.85175376711138 470.659552875582,112.01372501389753 496,133 C 521.340447124418,153.98627498610247 549.7110657556873,191.79685371152127 571,196 C 592.2889342443127,200.20314628847873 606.4961841016687,170.79886014001735 635,174 C 663.5038158983313,177.20113985998265 706.3041978376378,213.0077057284094 732,211 C 757.6958021623622,208.9922942715906 766.2870245477801,169.170316946345 788,148 C 809.7129754522199,126.829683053655 844.547703971242,124.31102648621061 869,152 C 893.452296028758,179.6889735137894 907.522159567253,237.5855771088126 926,224 C 944.477840432747,210.4144228911874 967.3636577597463,125.3466650785391 997,122 C 1026.6363422402537,118.6533349214609 1063.0232093937614,197.02776257703098 1092,220 C 1120.9767906062386,242.97223742296902 1142.5435046652078,210.542284613337 1160,210 C 1177.4564953347922,209.457715386663 1190.802771945408,240.803098969621 1211,226 C 1231.197228054592,211.196901030379 1258.2454075531596,150.24531950817897 1285,132 C 1311.7545924468404,113.75468049182103 1338.2155978419544,138.21562299766313 1364,151 C 1389.7844021580456,163.78437700233687 1414.892201079023,164.89218850116845 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
    50%{
      d: path("M 0,500 C 0,500 0,166 0,166 C 23.265924681699808,155.69032981776363 46.531849363399616,145.38065963552725 73,146 C 99.46815063660038,146.61934036447275 129.1385272281013,158.16769127565462 150,172 C 170.8614727718987,185.83230872434538 182.91404172419502,201.94857526185416 206,192 C 229.08595827580498,182.05142473814584 263.2053058751185,146.03800767692871 293,142 C 322.7946941248815,137.96199232307129 348.2647347753311,165.89939403043107 370,179 C 391.7352652246689,192.10060596956893 409.7357550235572,190.36441620134698 433,172 C 456.2642449764428,153.63558379865302 484.7922451304403,118.64294116418087 506,122 C 527.2077548695597,125.35705883581913 541.0952644546817,167.0638191419296 565,178 C 588.9047355453183,188.9361808580704 622.8266970508329,169.10178226810083 646,175 C 669.1733029491671,180.89821773189917 681.5979473419864,212.52905178566706 707,200 C 732.4020526580136,187.47094821433294 770.7815135812217,130.78201058923088 801,119 C 831.2184864187783,107.21798941076912 853.2759983331266,140.34290585740953 871,143 C 888.7240016668734,145.65709414259047 902.1144930862718,117.84636598113096 927,130 C 951.8855069137282,142.15363401886904 988.2660293217864,194.27163021806663 1011,212 C 1033.7339706782136,229.72836978193337 1042.821389626583,213.06711314660242 1067,201 C 1091.178610373417,188.93288685339758 1130.4484121718826,181.45991719552364 1162,190 C 1193.5515878281174,198.54008280447636 1217.384961685887,223.09321807130294 1236,226 C 1254.615038314113,228.90678192869706 1268.011741084569,210.1672105192646 1287,202 C 1305.988258915431,193.8327894807354 1330.5680739758375,196.23793985163869 1357,192 C 1383.4319260241625,187.76206014836131 1411.7159630120814,176.88103007418067 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
    75%{
      d: path("M 0,500 C 0,500 0,166 0,166 C 26.783358950990497,169.99284748511798 53.566717901980994,173.98569497023593 74,176 C 94.433282098019,178.01430502976407 108.51648734306653,178.05006760417422 132,177 C 155.48351265693347,175.94993239582578 188.36733272575296,173.81403461306718 217,181 C 245.63266727424704,188.18596538693282 270.0141817539215,204.69379394355707 292,193 C 313.9858182460785,181.30620605644293 333.57594025856093,141.4107896127045 357,130 C 380.42405974143907,118.58921038729551 407.6820572118348,135.66304760562497 430,131 C 452.3179427881652,126.33695239437502 469.6958308940999,99.93701996479564 493,125 C 516.3041691059001,150.06298003520436 545.534619211766,226.58887253519256 573,228 C 600.465380788234,229.41112746480744 626.1656922588365,155.70748989443416 651,133 C 675.8343077411635,110.29251010556584 699.802611752888,138.58116788707076 725,137 C 750.197388247112,135.41883211292924 776.6238607296115,103.96783855728276 796,118 C 815.3761392703885,132.03216144271724 827.701945328666,191.5474778837982 852,212 C 876.298054671334,232.4525221162018 912.5683579557244,213.84224990752458 943,211 C 973.4316420442756,208.15775009247542 998.0246228484364,221.08352248610356 1019,213 C 1039.9753771515636,204.91647751389644 1057.33315065053,175.82366014806107 1080,166 C 1102.66684934947,156.17633985193893 1130.6427745494436,165.62183692165212 1153,170 C 1175.3572254505564,174.37816307834788 1192.0957511516954,173.68899216533035 1215,178 C 1237.9042488483046,182.31100783466965 1266.9742208437742,191.62219441702644 1292,198 C 1317.0257791562258,204.37780558297356 1338.0073654732073,207.82223016656386 1362,202 C 1385.9926345267927,196.17776983343614 1412.9963172633963,181.0888849167181 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
    100%{
      d: path("M 0,500 C 0,500 0,166 0,166 C 28.670119344635445,187.29187821307272 57.34023868927089,208.5837564261454 82,196 C 106.65976131072911,183.4162435738546 127.30916458755192,136.95685250849107 149,143 C 170.69083541244808,149.04314749150893 193.42310296052156,207.5888335398903 216,209 C 238.57689703947844,210.4111664601097 260.9984235703619,154.68781333194772 284,148 C 307.0015764296381,141.31218666805228 330.58320275803084,183.65991313231885 353,182 C 375.41679724196916,180.34008686768115 396.66876539751473,134.67253413877694 419,116 C 441.33123460248527,97.32746586122306 464.74173565190983,105.64995031257345 492,106 C 519.2582643480902,106.35004968742655 550.3642919948463,98.72766461092925 576,108 C 601.6357080051537,117.27233538907075 621.8010963687049,143.4393912437096 648,166 C 674.1989036312951,188.5606087562904 706.4313225303339,207.51477041423243 727,191 C 747.5686774696661,174.48522958576757 756.4736135099597,122.50152709936057 780,131 C 803.5263864900403,139.49847290063943 841.6742234298276,208.47912118832528 869,226 C 896.3257765701724,243.52087881167472 912.8294927707291,209.58198814733828 935,183 C 957.1705072292709,156.41801185266172 985.0078054872558,137.1929262223217 1011,145 C 1036.9921945127442,152.8070737776783 1061.139285280247,187.64630696337497 1087,194 C 1112.860714719753,200.35369303662503 1140.4350533917573,178.22184592417852 1164,174 C 1187.5649466082427,169.77815407582148 1207.120501152725,183.4663093399109 1228,191 C 1248.879498847275,198.5336906600891 1271.0829419973431,199.91291671617782 1295,178 C 1318.9170580026569,156.08708328382218 1344.547730857902,110.88202379537775 1369,105 C 1393.452269142098,99.11797620462225 1416.726134571049,132.55898810231113 1440,166 C 1440,166 1440,500 1440,500 Z");
    }
}

.path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1{
    0%{
      d: path("M 0,500 C 0,500 0,333 0,333 C 19.8408033492277,307.6610565429484 39.6816066984554,282.32211308589683 63,289 C 86.3183933015446,295.67788691410317 113.1143765554061,334.3726041993611 135,347 C 156.8856234445939,359.6273958006389 173.8608870799202,346.1874701166587 202,325 C 230.1391129200798,303.8125298833413 269.4420751249131,274.87751533400416 295,280 C 320.5579248750869,285.12248466599584 332.37081242042734,324.3024685473247 353,354 C 373.62918757957266,383.6975314526753 403.0746751933776,403.9126104766972 427,379 C 450.9253248066224,354.0873895233028 469.33048680606237,284.04708954588665 496,277 C 522.6695131939376,269.95291045411335 557.603377582373,325.8990313397563 588,336 C 618.396622417627,346.1009686602437 644.2560028644453,310.3567850950882 660,287 C 675.7439971355547,263.6432149049118 681.3726109598455,252.6738282798911 707,270 C 732.6273890401545,287.3261717201089 778.2535532961722,332.9479017853475 805,336 C 831.7464467038278,339.0520982146525 839.6131758554657,299.5345645787189 859,306 C 878.3868241445343,312.4654354212811 909.2937432819655,364.91383989977675 938,373 C 966.7062567180345,381.08616010022325 993.2118510166729,344.81007582217404 1015,323 C 1036.7881489833271,301.18992417782596 1053.858852651343,293.845856811527 1077,305 C 1100.141147348657,316.154143188473 1129.3527383779551,345.80649693171785 1154,352 C 1178.6472616220449,358.19350306828215 1198.7301938368369,340.9281554616014 1223,316 C 1247.2698061631631,291.0718445383986 1275.7264862746977,258.4808812218765 1300,273 C 1324.2735137253023,287.5191187781235 1344.363861064372,349.1483196508924 1367,367 C 1389.636138935628,384.8516803491076 1414.818069467814,358.9258401745538 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
    25%{
      d: path("M 0,500 C 0,500 0,333 0,333 C 29.68564170974077,320.60739134712753 59.37128341948154,308.214782694255 82,301 C 104.62871658051846,293.785217305745 120.20050803181459,291.7482605701074 142,303 C 163.7994919681854,314.2517394298926 191.82668445326004,338.79217502531526 218,353 C 244.17331554673996,367.20782497468474 268.4927541551451,371.0830393286317 294,358 C 319.5072458448549,344.9169606713683 346.2022989261592,314.87566766015806 367,307 C 387.7977010738408,299.12433233984194 402.698050140218,313.414290030736 428,311 C 453.301949859782,308.585709969264 489.00550051296887,289.4671722168978 512,284 C 534.9944994870311,278.5328277831022 545.2799478079069,286.71702110167314 568,294 C 590.7200521920931,301.28297889832686 625.8747082554039,307.66474337640966 649,297 C 672.1252917445961,286.33525662359034 683.2212191704778,258.62400539268816 709,276 C 734.7787808295222,293.37599460731184 775.2404150626854,355.83923505283775 799,365 C 822.7595849373146,374.16076494716225 829.8171205787806,330.0190543959609 853,312 C 876.1828794212194,293.9809456040391 915.491102622192,302.08454736331856 941,317 C 966.508897377808,331.91545263668144 978.2184689324511,353.64275615076485 997,373 C 1015.7815310675489,392.35724384923515 1041.6350216480034,409.34442803362185 1068,395 C 1094.3649783519966,380.65557196637815 1121.2414444755352,334.97953171474774 1149,332 C 1176.7585555244648,329.02046828525226 1205.3992004498564,368.7374451073872 1233,371 C 1260.6007995501436,373.2625548926128 1287.1617537250388,338.0706878557034 1306,319 C 1324.8382462749612,299.9293121442966 1335.9537846499888,296.979803469799 1357,302 C 1378.0462153500112,307.020196530201 1409.0231076750056,320.0100982651005 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
    50%{
      d: path("M 0,500 C 0,500 0,333 0,333 C 19.249456207255548,351.7995922946609 38.498912414511096,370.5991845893218 61,366 C 83.5010875854889,361.4008154106782 109.25380654921113,333.4028539373738 136,343 C 162.74619345078887,352.5971460626262 190.48586138864434,399.78939966118315 212,391 C 233.51413861135566,382.21060033881685 248.80274789621154,317.4395474178937 277,292 C 305.19725210378846,266.5604525821063 346.3031470265097,280.452410667242 373,308 C 399.6968529734903,335.547589332758 411.98466399774975,376.7508099131382 431,386 C 450.01533600225025,395.2491900868618 475.7581969824912,372.54434968020496 499,344 C 522.2418030175088,315.45565031979504 542.9825480722855,281.07179136604213 566,286 C 589.0174519277145,290.92820863395787 614.3116107283665,335.1684848556266 638,360 C 661.6883892716335,384.8315151443734 683.7710090142484,390.25426921145146 713,370 C 742.2289909857516,349.74573078854854 778.6043532146402,303.8144382985673 800,290 C 821.3956467853598,276.1855617014327 827.8115781271908,294.4879775942793 852,317 C 876.1884218728092,339.5120224057207 918.1493342765959,366.2336513243155 944,366 C 969.8506657234041,365.7663486756845 979.5910847664256,338.5774171084589 1003,318 C 1026.4089152335744,297.4225828915411 1063.486326657701,283.45668024184897 1088,298 C 1112.513673342299,312.54331975815103 1124.4636086027706,355.5958619241454 1149,379 C 1173.5363913972294,402.4041380758546 1210.6592389312161,406.1598720615693 1237,383 C 1263.3407610687839,359.8401279384307 1278.899435672365,309.7646498295775 1298,291 C 1317.100564327635,272.2353501704225 1339.7430183793242,284.7815286201207 1364,297 C 1388.2569816206758,309.2184713798793 1414.128490810338,321.1092356899396 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
    75%{
      d: path("M 0,500 C 0,500 0,333 0,333 C 24.60435256483361,353.4589517171837 49.20870512966722,373.9179034343674 71,354 C 92.79129487033278,334.0820965656326 111.76953204616473,273.78733797971404 139,283 C 166.23046795383527,292.21266202028596 201.71316668567388,370.9327446467763 224,386 C 246.28683331432612,401.0672553532237 255.37780121113963,352.4816834331807 279,326 C 302.6221987888604,299.5183165668193 340.7756284697676,295.1405216205007 369,283 C 397.2243715302324,270.8594783794993 415.51968490979004,250.95623008481658 435,277 C 454.48031509020996,303.0437699151834 475.1456318910724,375.0345580402328 497,386 C 518.8543681089276,396.9654419597672 541.8977875259202,346.9055377542523 569,334 C 596.1022124740798,321.0944622457477 627.263218005247,345.34329094275813 652,337 C 676.736781994753,328.65670905724187 695.0493404530915,287.7212984747152 719,288 C 742.9506595469085,288.2787015252848 772.5394201823867,329.7715151583812 798,331 C 823.4605798176133,332.2284848416188 844.7929788173615,293.19264089176 867,296 C 889.2070211826385,298.80735910824 912.2886645481674,343.45792127457867 939,352 C 965.7113354518326,360.54207872542133 996.0523629899694,332.97567400992546 1019,324 C 1041.9476370100306,315.02432599007454 1057.501883491955,324.6393826857194 1082,322 C 1106.498116508045,319.3606173142806 1139.940103042211,304.4667952471967 1162,305 C 1184.059896957789,305.5332047528033 1194.7377043392012,321.49343632549363 1215,330 C 1235.2622956607988,338.50656367450637 1265.1090796009844,339.5594594508286 1294,330 C 1322.8909203990156,320.4405405491714 1350.8259772568615,300.2687258711918 1375,299 C 1399.1740227431385,297.7312741288082 1419.5870113715691,315.3656370644041 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
    100%{
      d: path("M 0,500 C 0,500 0,333 0,333 C 19.8408033492277,307.6610565429484 39.6816066984554,282.32211308589683 63,289 C 86.3183933015446,295.67788691410317 113.1143765554061,334.3726041993611 135,347 C 156.8856234445939,359.6273958006389 173.8608870799202,346.1874701166587 202,325 C 230.1391129200798,303.8125298833413 269.4420751249131,274.87751533400416 295,280 C 320.5579248750869,285.12248466599584 332.37081242042734,324.3024685473247 353,354 C 373.62918757957266,383.6975314526753 403.0746751933776,403.9126104766972 427,379 C 450.9253248066224,354.0873895233028 469.33048680606237,284.04708954588665 496,277 C 522.6695131939376,269.95291045411335 557.603377582373,325.8990313397563 588,336 C 618.396622417627,346.1009686602437 644.2560028644453,310.3567850950882 660,287 C 675.7439971355547,263.6432149049118 681.3726109598455,252.6738282798911 707,270 C 732.6273890401545,287.3261717201089 778.2535532961722,332.9479017853475 805,336 C 831.7464467038278,339.0520982146525 839.6131758554657,299.5345645787189 859,306 C 878.3868241445343,312.4654354212811 909.2937432819655,364.91383989977675 938,373 C 966.7062567180345,381.08616010022325 993.2118510166729,344.81007582217404 1015,323 C 1036.7881489833271,301.18992417782596 1053.858852651343,293.845856811527 1077,305 C 1100.141147348657,316.154143188473 1129.3527383779551,345.80649693171785 1154,352 C 1178.6472616220449,358.19350306828215 1198.7301938368369,340.9281554616014 1223,316 C 1247.2698061631631,291.0718445383986 1275.7264862746977,258.4808812218765 1300,273 C 1324.2735137253023,287.5191187781235 1344.363861064372,349.1483196508924 1367,367 C 1389.636138935628,384.8516803491076 1414.818069467814,358.9258401745538 1440,333 C 1440,333 1440,500 1440,500 Z");
    }
}

@media (max-width: 768px) {
    #welcome-section h1 { font-size: 40px; }
    .about-title { padding: 3.25rem 0 2rem ;} 
    .image { width: 30%; }
    .images { width: 60%; }
    .description { width: 70%; }
    .control-left-2 { left: 5% !important; }
    .control-right-2 { right: 5% !important; }
    .projects { width: 70%; }
    #first-section { width: 100% !important; }
}

@media (max-width: 576px) {
    #welcome-section h1 {
        font-size: 30px;
        letter-spacing: 0px;
    }

    #contact-title {font-size: 2.5rem;}
    .title-h1 {font-size: 2.5rem;}

    @keyframes text {
        0% {
            color: transparent;
            margin-bottom: -30px;
        }
    
        30% {
            color: #f1f6f949;
            letter-spacing: 7px;
            margin-bottom: -30px;
            text-shadow: 0 0 20px #04b5eb;
        }
    
        70% {
            letter-spacing: 5px;
            text-shadow: 0 0 40px #04b5eb;
        }
    
        90% {text-shadow: 2px 2px 1px #04b5eb;}
    }

    .image { width: 45%; }
    .images { width: 80%; }
    #second-section-text { width: 80% !important; }
    #first-section { width: 100% !important; }

    .skills {
        width: 10rem;
        border-radius: 20px;
        height: 10rem !important;
    }
    .projects { width: 50%; height: 15rem !important; }
    .control-left-2 { left: 5% !important; top: -35% !important; }
    .control-right-2 { right: 5% !important; top: -35% !important; }

    span.angle.carousel-control-next-icon, span.angle.carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }
    
    span.angle.carousel-control-next-icon:hover, span.angle.carousel-control-prev-icon:hover {
        box-shadow: 0 0 10px 5px #88FFF7;
    }
    
}

@media (max-width: 400px) {
    .skills {
        width: 7rem;
        border-radius: 20px;
        height: 7rem !important;
    }

    .btn-img { 
        border-radius: 50% !important; 
        width: 50% !important;
    }

    .btn-img2 { 
        width: 15% !important;
    }

    a.navbar-brand.fs-3 { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projects {padding: 8rem 0;}
    .about-title {padding: 7rem 0 2rem ;}
    #contact {padding: 5rem 0 2rem;}
    #contact-title {
        font-size: 2.5rem;
        font-weight: bolder;
    }
    #contact-title ~ h3 { font-size: 1.5rem; }
    #contact {
        margin: 0 1rem;
        padding: 1rem;
    }
}