* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { font-family: 'Poppins', sans-serif; }

#welcome-section {
    background: url("./image/bg.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

#welcome-section h1 {
    font-size: 60px;
    position: relative;
    top: 40%;
    text-align: center;
    letter-spacing: 5px;
    animation: text 6s ease-in-out infinite;
    animation-direction: alternate;
}

.text1 {
    margin-bottom: 20px;
    position: relative;
}

@keyframes text {
    0% {
        color: transparent;
        margin-bottom: -60px;
    }

    35% {
        color: #f1f6f949;
        letter-spacing: 30px;
        margin-bottom: -60px;
        text-shadow: 0 0 20px #04b5eb;
    }

    70% {
        letter-spacing: 5px;
        text-shadow: 0 0 40px #04b5eb;
    }

    90% {text-shadow: 2px 2px 1px #04b5eb;}
}

/* 
KETIKA z-index: 1; DIHAPUS MAKA KETIKA SCROLL HALAMAN WEB BAGIAN custom-shape-divider-bottom- 
AKAN BERADA DI ATAS NAVBAR ANDA !!! 

SELAIN ITU, JIKA NILAI z-index: 2; MAKA KETIKA SCROLL KE BAGIAN PROJECT 
TAMPILAN SPAN TETAP BERADA DI ATAS NAV SEHINGGA NILAI z-index: 3; !!!
*/
nav {background-color: black; z-index: 3;}
nav a img {border-radius: 50%;}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.navbar-brand, #navbarNav ul li a {color: whitesmoke;}
#navbarNav ul li a:hover {color: #D44000}
.nav-link.active, a.nav-link:hover {
    color:#be3a1c !important;
    transition: all 0.25s ease-in-out !important;
}
.description {
    margin-top: 3rem;
    font-size: 1.3rem;
    width: 60%;
}

#about {
    background: linear-gradient(180deg,black,#000033,#0066CC,#0099FF,#5FC9F3);
    min-height: 60vh;
    color: whitesmoke;
}

.about-title {padding: 5rem 0 2rem ;}
.image {width: 40%;}
.images {width: 55%;}

.skills {
    width: 13rem;
    border-radius: 20px;
    height: 13rem !important;
}

.projects {
    width: 80%;
    border-radius: 50px;
    height: 20rem !important;
}

.btn-img { 
    height: .75rem !important;
    border-radius: 1rem !important;
    margin: 0 .4rem !important;
    position: relative;
    bottom: -.25rem !important;
}

.btn-img2 {
    bottom: -3.75rem !important;
}

.inner {
    width: 40% !important;
    margin: 0 auto;
}

.btn-control { position: absolute; }
.control-left { left: 12% !important; }
.control-right { right: 12% !important; }
.control-left-2 { left: 8% !important; top: -25% !important; }
.control-right-2 { right: 8% !important; top: -25% !important; }

#projects {
    background: linear-gradient(180deg,#005A8D,#03256C,black); 
    padding: 6rem 0;
}

.custom-shape-divider-bottom-1626251764 {
    position: absolute;
    bottom: -.2rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626251764 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1626251764 .shape-fill {
    fill: #005A8D;
}

.project-tile {
    color: red;
    text-shadow: 1px 1px 0.5px #3EDBF0;
    margin: 1.2rem 0 0 !important;
    text-align: center;
}

.tile-2 { margin: .8rem auto !important; }
.btn-project-tile {text-align: center}
.btn-wrapper {
    height: 3.5rem;
}

span.angle.carousel-control-next-icon, span.angle.carousel-control-prev-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

span.angle.carousel-control-next-icon:hover, span.angle.carousel-control-prev-icon:hover {
    box-shadow: 0 0 10px 7px #88FFF7;
    transition: 0.5s ease-in-out;
    left: 5px;
}

span.angle.carousel-control-prev-icon:hover {left: -5px;}
.title {text-shadow: 1.8px 1.8px 0.8px #3EDBF0;}
#projects h1 , footer h3 {color: whitesmoke; text-shadow: 1.8px 1.8px 1px black;}
#projects h1 {margin-bottom: 2rem;}

.project-info {
    position: absolute !important;
    bottom: -35px !important;
}

.project-button {color: whitesmoke; text-shadow: 1px 1px 0.8px black; height: 10rem;}
.project-button:hover {color: black; text-shadow: 1px 1px 0.8px whitesmoke !important;}

.custom-shape-divider-bottom-1626333380 {
    z-index: 0;
    position: absolute;
    bottom: -.2rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626333380 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20rem;
}

.custom-shape-divider-bottom-1626333380 .shape-fill {
    height: 20rem;
    fill: #5C3030;
}

.custom-shape-divider-top-1626333572 {
    position: absolute;
    z-index: 10;
    top: -.2rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1626333572 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 390px;
}

.custom-shape-divider-top-1626333572 .shape-fill {
    fill: linear-gradient(180deg,black,#000033,#0066CC,#0099FF,#5FC9F3);
}

#inner-contact { padding: 3rem 0 0; }
#contact { padding: 3rem 0; }
#contact-wrapper { top: -22rem; height: 3rem; margin-bottom: 2rem; }
#contact-title { font-size: 5rem; letter-spacing: .3rem; }
.fa:hover,.fab:hover { transform: scale(1.5);}

footer {
    background: linear-gradient(180deg,#5C3030,#402A23);
}


#experience {
    top: -12rem;
    padding: 6rem 0 0;
    background: linear-gradient(180deg, #FFFFFF, #32DED4, #30E3CA);
}

.wrapper-experience {
    width: 55%;
}

.custom-img {
    border-radius: 20px;
    width: 5.5rem;
}

.custom-mentor {
    border-radius: 20px;
    transform: scale(1.15);
}

/* .custom-img2 { width: 15%; } */
.custom-sertif { 
    width: 90%; 
    border-radius: 30px;
    box-shadow: 5px 10px 10px 5px #393E46;
    margin-bottom: 1.5rem;
}

.arterisk {color: red; font-weight: bolder; font-size: 1.25rem;}
.text-semibold { font-weight: 600; font-size: larger; }
.accordion-item, .accordion-button { border-radius: 20px !important; }
.accordion-item { 
    box-shadow: 5px 10px 10px 5px #393E46; 
    margin: 2rem 0;
}
.accordion-button { height: 7rem; }
.accordion-button:focus { background: transparent;}
.accordion-button::after{
    background-position: center center;
    height: 1.75rem !important;
    width: 1.75rem !important;
    border-radius: 50%;
    box-shadow: 0 0 7.5px 5px #000;
}

.accordion-body {
    margin: 0 1.25rem !important;
    padding: 2rem !important;
}

.description-accordion { margin: .5rem 1rem; }
.last-accordion-item { margin-bottom: 5rem; }

#aurora { color: #FF7A00 !important; letter-spacing: .5px; font-size: 1.2rem; }
#aurora:hover { color: #D44000 !important; }

.custom-shape-divider-bottom-1642243012 {
    position: absolute;
    bottom: -1rem;
    margin-top: 1rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1642243012 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1642243012 .shape-fill {
    fill: #FFFFFF;
}

@media (max-width: 992px) {
    #welcome-section h1 { font-size: 50px; }
    .description { width: 80%; }
    
    @keyframes text {
        0% {
            color: transparent;
            margin-bottom: -60px;
        }
    
        30% {
            color: #f1f6f949;
            letter-spacing: 20px;
            margin-bottom: -60px;
            text-shadow: 0 0 20px #04b5eb;
        }
    
        70% {
            letter-spacing: 5px;
            text-shadow: 0 0 40px #04b5eb;
        }
    
        90% {text-shadow: 2px 2px 1px #04b5eb;}
    }

    .image { width: 60%; }
    .images { width: 80%; }

    #contact-title {font-size: 3.5rem;}

    .custom-shape-divider-bottom-1626251764 svg {
        width: calc(100% + 1.3px);
        height: 236px;
    }

    .wrapper-experience {width: 75%;}
}

@media (max-width: 768px) {
    #welcome-section h1 { font-size: 40px; }
    .about-title { padding: 3.25rem 0 2rem ;} 
    .image { width: 30%; }
    .images { width: 60%; }
    .description { width: 70%; }
    .control-left-2 { left: 5% !important; }
    .control-right-2 { right: 5% !important; }
    .projects { width: 70%; }
    #first-section { width: 100% !important; }

    .custom-shape-divider-bottom-1642243012 svg {
        width: calc(100% + 1.3px);
        height: 303px;
    }
}

@media (max-width: 654px) { 
    .custom-img {width: 5rem;} 
    .accordion-body { padding: 1.25rem !important; }
}

@media (max-width: 576px) {
    #welcome-section h1 {
        font-size: 30px;
        letter-spacing: 0px;
    }

    #contact-title {font-size: 2.5rem;}
    .title-h1 {font-size: 2.5rem;}

    @keyframes text {
        0% {
            color: transparent;
            margin-bottom: -30px;
        }
    
        30% {
            color: #f1f6f949;
            letter-spacing: 7px;
            margin-bottom: -30px;
            text-shadow: 0 0 20px #04b5eb;
        }
    
        70% {
            letter-spacing: 5px;
            text-shadow: 0 0 40px #04b5eb;
        }
    
        90% {text-shadow: 2px 2px 1px #04b5eb;}
    }

    .image { width: 45%; }
    .images { width: 80%; }
    #second-section-text { width: 80% !important; }
    #first-section { width: 100% !important; }
    #contact-wrapper { height: 20rem; }

    .skills {
        width: 10rem;
        border-radius: 20px;
        height: 10rem !important;
    }

    .projects { width: 50%; height: 15rem !important; }
    .control-left-2 { left: 5% !important; top: -35% !important; }
    .control-right-2 { right: 5% !important; top: -35% !important; }
    .custom-img {width: 4.5rem;}

    span.angle.carousel-control-next-icon, span.angle.carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }
    
    span.angle.carousel-control-next-icon:hover, span.angle.carousel-control-prev-icon:hover {
        box-shadow: 0 0 10px 5px #88FFF7;
    }
}

@media (max-width: 400px) {
    .skills {
        width: 7rem;
        border-radius: 20px;
        height: 7rem !important;
    }

    .btn-img { 
        border-radius: 50% !important; 
        width: 50% !important;
    }

    .btn-img2 { 
        width: 15% !important;
    }

    a.navbar-brand.fs-3 { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projects { padding: 8rem 0; }
    #experience { padding: 8rem 0 0; }
    .about-title { padding: 7rem 0 2rem ; }

    #contact-title {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    #contact-title ~ h3 { font-size: 1.5rem; }
    #contact-wrapper { height: 25rem; }
    #contact {
        margin: 0 1rem;
        padding: 5rem 0 2rem;
    }

    .wrapper-accordion-title { 
        flex-direction: column; 
        text-align: center;
    }

    .accordion-button { height: 10rem; }
    .accordion-body { padding: 1rem .75rem !important; }
    .description-accordion { margin: .5rem 0 0 !important; }
    .custom-mentor { transform: scale(1.35); }
    .wrapper-title-accordion { width: 90%; }
}

@media (max-width: 320px) {
    .accordion-button { height: 11rem; }
}