* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.menu-toggle {display: none;}

header {
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
}

nav #header-img {
    width: 45%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 10px;
}

nav ul li {
    padding: 23px 12px;
}

nav ul li:hover {
    background-color: #be3a1c;
    transition: all 0.25s ease-in-out;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

nav ul li a:hover {
    color: whitesmoke;
}

#review {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#text-review {
    margin-top: 60px;
    color: whitesmoke;
    font-size: 30px;
    padding: 40px 0 60px;
    text-align: center;
}

#video-frame {
    display: flex;
    margin: 0 auto;
}

#video {
    padding: 0 15px;
}

#performance, #audio, #battery, #more {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    background: linear-gradient(90deg,#00005C,#150485,#590995,#59057B);
    
}

.frame {
    /*max-width: 1000px;*/
    width: 70%;
    margin: 0 auto;
    padding: 80px;
}

.title{
    background: url("https://dlcdnwebimgs.asus.com/files/media/2B37C5BC-FC31-4697-925A-6622E78C5CF9/v3/img/performance-linear.png") no-repeat center center;
    background-size: cover;
	/* background: linear-gradient(270deg,#00005C,#150485,#590995,#59057B); */
	padding: 10px;
    margin: 0 auto;
	width: 150px;
	height: 35px;
    transform: skew(-20deg);
}

.box-audio, .box-battery {width: 10%;}
.inner-title {padding: 0 5px 5px;}
.title h3 {font-size: 25px;}

.brief-description {
    font-size: 30px;
    margin: 30px 0;
    font-style: italic;
}

.brief-text {
    /* background: -webkit-linear-gradient(0deg,#511281,#AA2EE6, #9D65C9,#EA86B6,#DC2ADE,#FD2EB3,#CC0E74); */
    background: linear-gradient(to right,#568df2 0,#f01bcf 51%,#f01bcf 51%,#ff1d8b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 5px;
}

.full-description {
    /*max-width: 800px;*/
    width: 70%;
    margin: 0 auto;
}

.full-description p, #os-text, .subtitle {color: #A2B29F;}
.window-box {margin: 30px 0 20px;}
#window-text, #brief-text {font-size: 50px;}

.circle-frame {
    display: flex;
    justify-content: center;
}

.circle-box {margin: 55px;}
.circle {position: relative;}

.circle::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: -40px;
    left: -30px;
    right: 0;
    bottom: 0;
    border-radius:50%; 
    padding: 5px; 
    background: linear-gradient(90deg,#DA1212,#F08C00,#C6DA20,#F3F5D5); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
}

.full-description p {font-size: larger;}
#os-text {font-size: x-large;}
.text-bottom {padding: 0 0 50px;}
.text-top { margin: 60px 0 0; font-size: larger; font-weight: bolder;}
.text-bottom, .text-top-five { font-size:xx-large; font-weight: bolder;}
.main-text { font-size: large; font-weight: bolder;}

.box-one::after { left: -17px;}
.one::after { top: -15px;}
.subtitle { font-size: 20px;}
.text-top-three { padding: 23px 0 0 15px;}
.text-top-four { padding: 23px 0 0 25px;}
.text-bottom-three { padding-left: 15px;}
.text-bottom-four { padding-left: 25px;}
.three { padding: 7px 0 0 10px;}
.four { padding-left: 20px;}

#audio {
    background: linear-gradient(-135deg,#602080,#202060,#202040,#160F30);
}

.five::after {left: 0;}
.six::after {left: -25px; top: 20px;}
.text-bottom-six { padding: 75px 0 62px 0}

#battery {
    background: linear-gradient(180deg,#BBE1FA,#3282B8,#0F4C75,#1B262C, black);
}

.seven::after {left: -25px;}
.text-top-five, .text-bottom-seven, .text-bottom-eigth { 
    font-size:xxx-large; 
    font-weight: bolder;
    padding: 0 0 57px;
}

.text-top-seven, .text-top-eigth {
    font-size: x-large;
    font-weight: bolder;
    padding: 0 0 0 10px;
}

.text-bottom-seven, .text-bottom-eigth {
    margin: -15px 0 0 0;
    padding: 0 0 36px 10px;
}

.text-bottom-eigth{padding: 0 0 36px 5px;}
.eight::after {left: -10px;}
.nine::after {left: -20px;}

#more {background: black;}
#more-frame {width: 50%;}

.box-more {
    width: 20%;
    margin-bottom: 50px;}

.form-control {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

#footer-title {margin: 5px 0 35px;}
#name-label, #email-label {font-size: x-large;}
#arterisk  {padding-left: 5px;font-weight: bold; color: red;}

#form > .general > input:focus, #submit:hover {
    outline: 0;
    border: 3px solid red;
    box-shadow: 2px 2px #51C2D5;
    transition: all 300ms ease;
}

input:placeholder-shown { font-style: italic;}
input { font-size: large;}

#submit {
    color: whitesmoke;
    font-weight: bolder;
    background-color: darkgreen;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
}

#submit:hover {
    color: black;
    transition: all 300ms ease-in-out;
}

#bottom-text {
    background-color: black;
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #video-frame {flex-direction: column;}
    nav {width: 100%;}
    nav #header-img {padding-left: 130px;}
    .frame {width: 80%; padding: 60px;}
    .circle-frame {flex-direction: column;}
    .circle::after {left: 42%;}
    .circle-box {margin: 25px;}
    .text-bottom-three, .text-top-three, .text-top-four, .text-bottom-four,
    .text-top-five, .text-bottom-seven,.text-top-seven, .text-top-eigth, .text-bottom-eigth  { 
        padding-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    .box-more {width: 30%;}
    .box-audio, .box-battery {width: 20%;}
    nav #header-img {width: 300px; padding-left: 120px;}
    .circle::after {left: 41%;}
}

@media screen and (max-width: 1130px) {
    .circle::after {left: 40%;}
}

@media screen and (max-width: 1060px) {
    .circle::after {left: 39%;}
}

@media screen and (max-width: 980px) {
    nav #header-img {padding-left: 80px;}
    .circle::after {left: 38%;}
}

@media screen and (max-width: 880px) {
    .circle::after {left: 37%;}
}

@media screen and (max-width: 825px) {
    #performance, #audio, #battery, #more {width: auto;}
    .circle::after {left: 36%;}
    body {
        overflow-x: hidden;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 90vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        background-color: black;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    nav ul li a {
        font-weight: bold;
    }

    .menu-toggle {
        right: -20px;
        display: flex;
        margin: 10px;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
    }

    .menu-toggle input {
        position: absolute;
        width: 60px;
        height: 30px;
        opacity: 0;
        margin: 0;
        top: -5px;
        right: -5px;
        cursor: pointer;
        z-index: 0;
    }

    .menu-toggle span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 0 5px;
        left: 1px;
        border-radius: 4px;
        justify-content: flex-end;
        transition: all 0.7s ease;
    }

    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0; /* x=0 y=0 untuk pindah poros putar*/
    }

    .menu-toggle span:last-child {
        transform-origin: 0 100%; 
    }

    .menu-toggle input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(-2px, -2px);
        
    }

    .menu-toggle input:checked ~ span:last-child {
        transform: rotate(-45deg) translate(-2px, 0);   
    }
    
    .menu-toggle input:checked ~ span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
    }
}

@media screen and (max-width: 750px) {
    .box-more {width: 40%;}
    .box-audio, .box-battery {width: 20%;}
    nav #header-img {width: 250px; padding-left: 30px;}
    .circle::after {left: 35%;}
}

@media screen and (max-width: 710px) {
    div#bottom-text h3 {font-size: x-large;}
    .circle::after {left: 34%;}
}

@media screen and (max-width: 675px) {
    .circle::after {left: 33%;}
}

@media screen and (max-width: 640px) {
    nav #header-img {width: 200px; padding-left: 20px;}
    .frame {padding: 60px;}
    .circle::after {left: 32%;}
}

@media screen and (max-width: 600px) {
    #video {
        width: 350px; 
        height: 200px;
        margin: 20px auto;
    }

    #window-text, .brief-text {font-size: 40px;}
    .circle::after {left: 33%;}
}

@media screen and (max-width: 576px) {
    .brief-text {font-size: 35px;}
    .circle-frame {display: none;}
    #footer-title {display: none;}
    .title { margin: 80px auto;}
    .box-more {width: 50%;}
    .box-audio, .box-battery {width: 25%;}
    .frame {padding: 20px;}
    .bottom-text {margin: 30px auto;}
    #more #more-frame h2 {
        margin: 0 auto 30px;
        font-size: xx-large;
    }

    #video {
        width: auto; 
        height: auto;
        margin: 20px auto;
    }
}

@media screen and (max-width: 450px) {
    nav #header-img {width: 200px; padding-left: 10px;}
    input { font-size: 1.5rem; width: 80%;}
    .box-audio, .box-battery {width: 40%;}
    .box-more {width: 70%;}
    .frame {margin: 0 auto;}
}

@media screen and (max-width: 340px) {
    nav #header-img {width: 150px; padding-left: 0;}
    #more #more-frame h2 {font-size: x-large;}
    #window-text {font-size: 30px;}
}

@media screen and (max-width: 330px) {
    #video {
        width: 70%; 
        height: auto;
        margin: 10px auto;
    }
}